<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Kryzalid Test</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="container">
			<section>
			{% include 'partials/header.twig' %}
			<div class="news">
            	{% include 'partials/news-card.twig' %}
			<div>
			</section>
        </div>

        {% include 'partials/footer.twig' %}

        <script src="./js/script.js"></script>
    </body>
</html>