<header id="news_header">
	<h1>Nouvelles</h1>
	<form>
		<label for="cat">Afficher</label>
		<select name="cat" id="cat">
			<option value="{{category.id}}">{{category.name}}</option>
		</select>
	</form>
</header>