<h1>Kryzalid Test</h1>
<p>Dans le cadre d'un éventuel recrutement voici le petit test qu'il sera demander de réaliser. On veut surtout se faire une idée sur l'étendu de te compétences en terme d'intégration, dynamisation ainsi que ta rapidité d'exécution.</p>
<p><strong>Temps à prévoir : environ 2h</strong> On ne veut pas que tu passes ta journée dessus, simplement faire le maximum possible dans ce temps prévu.</p>
<p>On est conscient que 2h c'est peut être short pour tout faire, donc pas de pression si il manque des choses.</p>
<p>Objectif: Réaliser une page web de liste de nouvelles en suivant les recommandation de la maquette.Avec des données qui proviennent d'une API.</p>
<ul>
    <li>
        La liste doit être ordonné par date du plus récent au plus vieux.
    </li>
    <li>
        Le page doit être responsive au mieux.
    </li>
    <li>
        La liste peut être filtré par catégorie pour ne laisser afficher que les nouvelles correspondante.
    </li>
</ul>

<h2>
    Choix de technologie: 
</h2>
<p>Le projet inclut un environnement de développement prêt à l’emploi, similaire à celui que tu pourrais retrouver chez Kryzalid. Il est là pour te faire gagner du temps de configuration : tu peux l’utiliser tel quel et te concentrer uniquement sur le développement.</p>
<p>
    Cependant, si tu préfères travailler avec ta propre stack ou adapter l’environnement, libre à toi de le faire ! Dans ce cas, merci simplement de nous expliquer clairement comment faire tourner ton projet (installation, compilation, lancement, etc.).
</p>